body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.quiz-container {
    text-align: center;
    display: none;
}

.btn-container button {
    margin: 10px;
    padding: 10px;
    width: 200px;
}

#feedback {
    margin-top: 20px;
    color: red;
}

#end-screen {
    flex-direction: column;
}

#submit-score {
    margin-top: 10px;
}
